{% extends 'blog/base.html' %}
{% block content %}
  <!-- New Post -->
    <article class="new-post">
      <div class="post-heading">
        <h2 class="new-post-heading">Enter new password</h2>
        <div class="underline"></div>
      </div>
      <p class="new-post-heading">Please enter your new password twice so we can verify you typed it in correctly.</p>
      <form  method="POST">
      {% csrf_token %}
        {{ form.as_p }}
      <button type="submit" class="btn-green">Submit</button>
      </form>
    </article>
    <!-- end of new post -->
{% endblock content %}