{% extends 'blog/base.html' %}
{% block content %}
  <!-- New Post -->
    <article class="new-post">
      <div class="post-heading">
        <h2 class="new-post-heading">Password reset complete</h2>
        <div class="underline"></div>
      </div>
     <p class="new-post-heading">Your password has been set. You may go ahead and log in now.</p>
     <p class="new-post-heading">You already have an account? <a href="{% url 'blog:login_page' %}" class="btn-blue">Sign In</a></p> 
    </article>
    <!-- end of new post -->
{% endblock content %}