{% extends 'blog/base.html' %}
{% block content %}
<article class="profile">
      <div class="profile-info">
        <div class="post-heading py-3">
        <h3 class="new-post-heading">About Us</h3>
        <div class="underline mx-auto"></div>
      </div>
        <p>I am Ojo Philip Odeniyi, a student of University of Ibadan where I'm currently studying Medicine and Surgery. I am also a web developer and I love God.</p>
        <p>My vision is to become a full stack web developer in the very nearest future(I'm working on this currently by God's grace!) and also not to neglect my course of study. So help me God</p>
        <p>Do you wish to have your own website?</p>
        <p>Do you wish to become a web developer and need a coach?</p>
        <p>We can make your dreams become true, just <strong>contact us</strong>  by clicking on any of the icons below. </p>
      </div>
      <div class="footer-icons">
        <a href="https://mobile.facebook.com/?hrc=1&refsrc=http%3A%2F%2Fh.facebook.com%2Fhr%2Fr&_rdc=1&_rdr"><i class="fab fa-facebook footer-icon" target='_blank'></i></a>
        <a href="https://mobile.twitter.com/OdeniyiOjo" target='_blank'><i class="fab fa-twitter footer-icon"></i></a>
        <a href="https://mail.google.com/mail/u/?authuser=ojophilipodeniyi@gmail.com" target='_blank'><i class="fab fa-google footer-icon"></i></a>
      </div>
    </article>
{% endblock content %}