<footer class="footer">
      <div class="footer-icons">
        <a href="https://mobile.facebook.com/?hrc=1&refsrc=http%3A%2F%2Fh.facebook.com%2Fhr%2Fr&_rdc=1&_rdr" target='_blank'><i class="fab fa-facebook footer-icon"></i></a>
        <a href="https://mobile.twitter.com/OdeniyiOjo"><i class="fab fa-twitter footer-icon" target='_blank'></i></a>
        <a href="https://mail.google.com/mail/u/?authuser=ojophilipodeniyi@gmail.com" target='_blank'><i class="fab fa-google footer-icon"></i></a>
      </div>
      <h2 class="footer-text">
        &copy;<span class="year"> 2020</span>
        MedBlog. all right reserved.
      </h2>
      <ul class="footer-links">
        <li class="footer-link-item"><a href="{% url 'blog:home_page' %}">Blog</a></li>
        <li class="footer-link-item"><a href="{% url 'userprofile:user_profile' %}">profile</a></li>
        <li class="footer-link-item"><a href="{% url 'userprofile:user_registration' %}">sign up</a></li>
        <li class="footer-link-item"><a href="{% url 'blog:login_page' %}">login</a></li>
      </ul>
      <p>~designed by ojophilip</p>
    </footer>