{% extends 'blog/base.html' %}
{% block content %}

<!-- post card -->
    <div class="section-center">
    {% for post in posts %}
    
      <!-- single post -->
      <article class="flex-item">
        <div class="post-card">
        {% if post.image %}
          <div class="post-img-container">
            <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}" alt="" /></a>
          </div>
           {% endif %}
          <div class="post-content">
            <a href="{{ post.get_absolute_url }} "><h4 class="post-title">{{post.title}}</h4></a>
            <p class="post-text">
              {{ post.content|linebreaks|truncatewords:30}}
              <a href="{{ post.get_absolute_url }} "><span class='ml-3 post-text font-italic'>Load more</span></a>
            </p>
            <p class="post-date">posted by <a href="{% url 'blog:users_post_list' post.user.username %}"><strong>
        <img class="article-img" src="{{ post.user.userprofile.image.url }}" />{{ post.user }}</strong></a> on {{ post.date_posted|date:'F d, Y' }}</p>
        <p  class="post-date font-italic"><a href="{{ post.get_absolute_url }}"> <strong>{{ post.comments.count }}</strong> comment<span class='text-lowercase'>(s)</span></a></p>
          </div>
          <div class="comment-icon">
            <a href="{{ post.get_comment_url }}"><i class="far fa-comment"></i></a>
          </div>
       
          
        </div>
      </article>
    {% endfor %}

      </div>
{% include 'blog/pagination.html' %}

      <!-- end single post -->
      {% endblock content %}