{% extends 'blog/base.html' %}
{% block content %}
  <!-- New Post -->
    <article class="new-post">
      <div class="post-heading">
        <h3 class="new-post-heading">Update your post</h3>
        <div class="underline"></div>
      </div>
      <form action="." method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
        {{ form.as_p }}
      <button type="submit" class="btn-blue">update</button>
      </form>
    </article>
    <!-- end of new post -->
{% endblock content %}